/* google font releway  */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Raleway", sans-serif;
    background-color: #F5F8FF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav-hro-container{
    max-width: 1400px;
    margin: 0 auto;
}
.fasteruitext{
    font-size: 25px;
    font: bold;
}
#nav-name{
    display: flex;
    align-items: center;
    gap: 2px;
    /* width: 33.33% ; */
}




#menues{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 8px;
}
#menues h1:hover{
    color: blueviolet;
    /* text-decoration: underline; */
}
.menu_name{
    color: #8987A1;
}
#home{
    color: black;
}
#menu-container{
    /* width: 33.33%; */
    background-color: #FFFFFF;
    /* border: 1px solid gray; */
    border-radius: 30px;
}

#theNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnone{
    background-color: white;
    color: #8987A1;
    font: bold;
    border: none;
    border-radius: 9px;
    padding: 3px;
}
.btntwo{
    background-color: #4E47FF;
    color: white;
    padding: 10px;
    border-radius: 6px;
    font: bold;
    border: none;
    margin-left: 5px;
}

#theHeader{
    background-color: #F5F8FF;
     padding-top: 5px;
     min-height: 110vh;
     background-image: url("./img/Mask\ group.png");
     background-repeat: no-repeat;
     /* background-position: center; */
     background-position-x: center;
}
/* nav css end here  */


/* hero css start  */
#hero-container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    min-height: 90vh;
    text-align: center;
}
.hero-text{
    font-size: 65px;
}
.hero-btn{
    background-color: black;
    padding: 14px 21px;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}
/* hero end  */


/* what we do css stt  */
.wwd{
    font-size: 44px;
    margin-bottom: 20px;
    margin-top: 10px;
}
#whatWEdo{
    max-width: 1400px;
    margin: 0 auto;
}
#theGrid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 15px;
}
.one{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.two{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.three{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.four{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    line-height: 20px;
}
.five{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.six{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
#pwid{
    width: 231px;
}
.same h1{
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 10px;
}
.four{
    grid-column: 4/span 2;
    grid-row: 1/span 2;
    /* border: 2px solid red; */
}
#fourimg{
    width: 100%;
    height: 100%;
}

.five{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/span 2;
}
#bgblue{
    background-image: url("img/Rectangle\ 43.png");
    padding: 20px;
}
/* card end  */





/* check our work start  */
#cowContainer{
    background-image: url("./img/Untitled@3-1536x735\ 1.png");
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;
}

#cowText{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    max-width: 1400px;
    margin: 120px auto;
}

.whiteCircle{
    height: 50px;
    width: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cowIMGS{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* cow section end  */



/* review section stt  */
#reviewCARD{
    display: flex;
    align-items: center;
    gap: 9px;
    height: 83px;
    max-width: 480px;
    background-color: white;
    justify-content: center;
    border: none;
    border-radius: 33px;
    padding: 8px;
}
#review-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* review end  */

/* our price stt */
#pricingContainer{
    max-width: 1400px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#Grid2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 44px;
    gap: 13px;
    color: gray;
    font-size: 12px;
}
#LS{
    background-color: white;
    padding: 20px;
    border: none;
    border-radius: 20px;
}
#MeetingBTN{
    width: 100%;
    background-color: #4E47FF;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 9px;
}
#priceDollar{
    width: 100%;
    background-color: #F5F8FF;
    border: none;
    padding: 15px;
}
#pricingRight{
    background-color: white;
    padding: 25px;
    border: none;
    border-radius: 7px;
}
/* price end  */



